.comments .comments {
    margin-top: 5%;
    margin-left: 20px
}
.comments{max-height:80vh; overflow-y:auto}
.comments .darker {
    border: 1px solid orangered;
    background-color: black;
    float: right;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.comments .comment {
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border: 1px solid rgb(8, 6, 112);
    background-color: rgb(8, 6, 112);
    float: left;
    width:98%;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 10px
}

.comments .comment h4,
.comments .comment span,
.comments .darker h4,
.comments .darker span {
    display: inline
}

.comments .comment p,
.comments .comment span,
.comments .darker p,
.comments .darker span {
    color: white
}

.comments h1,
.comments h4 {
    color: white;
    font-weight: bold
}

.comments label {
    color: rgb(212, 208, 208)
}

.comments #align-form {
    margin-top: 20px
}

.comments .form-group p a {
    color: white
}

.comments #checkbx {
    background-color: black
}
.comment h4{margin-left: 10px;}

.comments #darker img {
    margin-right: 30px;
    position: static
}

.comments .form-group input,
.comments .form-group textarea {
    background-color: white;
    border: 1px solid rgb(8, 6, 112);
    border-radius: 12px
}

.comments form {
    border: 1px solid rgb(8, 6, 112);
    background-color: rgb(8, 6, 112);
    border-radius: 5px;
    padding: 20px
}


 .comments #clicked {
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
    width: 100%;
    background-color: orangered;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px
}

.comments #profile {
    background-color: unset
}

.comments #post {
    margin: 10px;
    padding: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    background-color: orangered;
    border-color: #a88734 #9c7e31 #846a29;
    color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 13px;
    width: 50%
}
.comment span{position: relative; top:-14px; left:50px;}