.navbar {
  width: 100%;
  height: 100px;
  z-index: 3335;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  position: fixed;
  top: 0px;
  display: flex;
  align-items: center;
  padding-left: 0;
  padding-right: 10%;
}
.brand {
  flex: 20%;
  height: 100px;
  display: flex;
  padding-left: 30px;
  align-items: center;
  justify-content: center;
}
.nav {
  flex: 100%;
  display: flex;
  padding-left: 30px;
}
.brand p {
  padding-left: 10px;
  margin-top: 10px;
  color: orangered;
  font-size: 16px;
}
.nav ul {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 10px;
}
.nav ul li {
  flex: 20%;
  font-size: 16px !important;
}
.brand img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.lik {
  color: rgb(8, 6, 112);
  font-weight: 500;
}
.lik:hover {
  color: orangered;
}
.lik1 {
  color: rgb(8, 6, 112);
  margin-left: -20px;
  margin-top: 6px;
  font-weight: 500;
}
.lik1:hover {
  color: orangered;
}
.tool {
  display: none;
}

@media (max-width: 1050px) {
  .nav {
    flex: 30% !important;
  }
  .brand {
    flex: 70% !important;
    padding-top: 5px;
  }
}
@media (max-width: 1050px) {
  .tool {
    display: inline-block;
    position: fixed;
    top: 30px;
    right: 40px;
  }
  .tool i {
    font-size: 50px;
    color: rgb(75, 23, 124);
  }
  .nav ul {
    flex-direction: column;
    display: none;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 100px;
    left: 0px;
    background-color: white;
  }
  .nav li a {
    font-size: 22px;
  }
  .nav li {
    margin-top: 30px;
  }
  .brand p {
    font-size: 22px;
  }
}

@media (max-width: 704px) {
  .tool i {
    font-size: 40px;
    color: rgb(75, 23, 124);
  }
  .brand p {
    font-size: 15px;
    color: rgb(75, 23, 124);
    font-weight: bold;
  }
  .nav {
    flex: 10% !important;
  }
  .brand {
    flex: 90% !important;
    padding-top: 5px;
  }
}
.nav li {
  margin-top: 10px;
}
@media (max-width: 650px) {
  .dropD {
    padding-top: 0%;
  }
}

@media (min-width: 1650px) {
 
  .lik1 {
    font-size: 25px;
    margin-left: -50px;
  }
  .brand p {
    font-size: 25px;
  }
  .dropD {
    font-size: 25px !important;
  }
}
