.rasmlar {
  padding: 50px 10%;
  margin-top: 20px;
  background-color: white;
}
.rasmlar img {
  width: 100%;
  height: 230px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transition: 1s;
  border-radius: 10px;
}
.rasmlar img:hover {
  transform: scale(1.1, 1.1);
  border-radius: 0px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.imag {
  flex: 49% !important;
  display: inline-block;
}

.imag img {
  width: 100%;
}
.newsY {
  padding: 30px 10%;
  background-color: white;
}

.newsY h1 {
  font-size: 27px;
  flex: 50%;
  color: rgb(8, 6, 112);
  padding: 40px 20px;
  display: inline-block;
  text-align: center;
}
.text {
  font-size: 18px;
  margin-top: 20px;
  color: rgb(8, 6, 112);
}
.dat {
  font-size: 18px;
  font-weight: bold;
  margin-top: -20px;
  color: rgb(8, 6, 112);
  text-align: center;
}
.yozuv p i {
  margin-right: 10px;
}
.flex {
  display: flex;
}
@media (max-width: 700px) {
  .newsY h1 {
    font-size: 25px;
  }
  .flex {
    display: block;
  }
}
@media (min-width: 1650px) {
  .rasmlar img {
    height: 400px;
  }
  .newsY h1 {
    font-size: 33px;
  }
  .text {
    font-size: 23px;
    margin-top: 20px;
    text-align: center;
  }
  .dat {
    font-size: 21px;
    margin-top: 20px;
  }
}
@media (min-width: 701px) and (max-width: 900px) {
  .newsY h1 {
    font-size: 25px;
  }
}

.headR {
  width: 100%;
  padding-top: 100px;
}
.headR img {
  width: 100%;
}
.headsarlavhaa {
  border-top: 2px solid white;
  text-align: center;
  padding: 20px;
  background-color: #ff4e00;
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.head img {
  width: 100%;
  /* height: 80%; */
}
.oran {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: white;
  background-color: #ff4e00;
}
.panel {
  font-size: 20px;
  background-color: rgb(8, 6, 112);
}

.headsarlavha {
  border-top: 2px solid white;
  text-align: center;
  padding: 20px;
  background-color: rgb(20, 194, 185);
  color: white;
  font-size: 25px;

  font-weight: 700;
}

.head img {
  width: 100%;
  height: 80%;
  margin-top: 100px;
}
