.sinflar img {
  width: 100%;
}
.sinf {
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.but {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border: none;
  padding: 10px 20px;
  background-color: rgb(53, 15, 89);
  font-size: 16px;
  color: white;
  margin-top: 20px;
}
.but {
  color: white !important;
}
.but:hover {
  color: rgb(53, 15, 89) !important;
  background-color: white;
}
.but:active {
  box-shadow: 0px 0px 0px 0px transparent;
}
.sarlavha {
  color: rebeccapurple;
  font-size: 32px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.713);
  width: 100%;
  padding: 30px;
}

.head {
  margin-top: 50px;
  width: 100%;
  height: 100vh;
  background-size: 100% 100%;
  background-image: url(../img/head2.jpg);
  background-color: rgb(53, 15, 89);
  padding-top: 100px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center 25px;
  display: flex;
  align-items: center;
}

@media (max-width: 650px) {
  .head {
    padding-top: 120%;
  }
}
@media (max-width: 767px) {
  .head {
    background-size: 200% 100%;
  }
}
@media (max-width: 550px) {
  .head {
    background-size: 200% 100%;
  }
}

@media (max-width: 430px) {
  .head {
    background-size: 200% 100%;
  }
}
@media (max-width: 360px) {
  .head {
    height: 600px;
    background-size: 200% 100%;
  }
}
